<div>
    <h1>{{group.name}}</h1>
    <h3>{{group.creationDate | date: 'MMMM d, y, HH:mm'}}</h3>
    <br>
    <p>{{group.description}}</p>
    <h4><b>Rules:</b></h4>
    <p>{{group.rules}}</p>
    <button *ngIf="hasAuthority() || isGroupAdmin()" [routerLink]="['/groups/' + group.id + '/group-requests']">View Group Requests</button>
    <br>
    <button *ngIf="hasAuthority() || isGroupAdmin()" [routerLink]="['/groups/edit', group.id]">Edit Group</button>
    <button *ngIf="hasAuthority() || isGroupAdmin()" (click)="deleteGroup()">Delete Group</button>
    <button *ngIf="hasAuthority()" (click)="suspendGroup()">Suspend Group</button>
    <button *ngIf="hasAuthority()" (click)="deleteGroupAdmin()">Delete Group Admin</button>
    <br>
    <button *ngIf="canPost" [routerLink]="['/groups/'+ group.id + '/add-post']">Add Post to Group</button>
</div>

<div class="card" *ngFor="let post of posts">
    <h1 *ngIf="users.get(post.postedByUserId)">{{users.get(post.postedByUserId).displayName || users.get(post.postedByUserId).username}}</h1>
    <h3>{{post.creationDate | date: 'MMMM d, y, HH:mm'}}</h3>
    <br>
    <p>{{post.content}}</p>
    <button class="show-btn" [routerLink]="['/posts', post.id]">View Post</button>
</div>