<div class="postForm">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <label for="content"><b>Content:</b></label>
          <div>
            <input type="text" id="content" name="content" placeholder="Conent" [formControl]="form.controls['content']">
            <small class="text-danger"  *ngIf="form.controls.content.touched && form.controls.content.errors?.required">
              This field can't be empty!</small>
          </div>
        </div>

        <div>
            <label for="creationDate"><b>Creation Date:</b></label>
            <div>
              <input type="text" id="creationDate" name="creationDate" placeholder="Creation Date" [formControl]="form.controls['creationDate']">
              <small class="text-danger"  *ngIf="form.controls.creationDate.touched && form.controls.creationDate.errors?.required">
                This field can't be empty!</small>
            </div>
        </div>

        <div>
            <label for="postedByUserId"><b>Posted by User(ID):</b></label>
            <div>
              <input type="text" id="postedByUserId" name="postedByUserId" placeholder="Enter User ID" [formControl]="form.controls['postedByUserId']">
              <small class="text-danger"  *ngIf="form.controls.postedByUserId.touched && form.controls.postedByUserId.errors?.required">
                This field can't be empty!</small>
            </div>
        </div>
  
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Add Post</button>
        </div>
    </form>
</div>
