<div class="block">
    <h3 class="padded">Sort By Date:</h3>
    <button (click)="sortPosts('asc')">Ascending</button>
    <button (click)="sortPosts('desc')">Descending</button>
    <button class="show-btn float-right" [routerLink]="['/search/posts']">Search Posts</button>
</div>
<div class="card" *ngFor="let post of posts">
    <h1 *ngIf="users.get(post.postedByUserId)">{{users.get(post.postedByUserId).displayName || users.get(post.postedByUserId).username}}</h1>
    <h3>{{post.creationDate | date: 'MMMM d, y, HH:mm'}}</h3>
    <br>
    <p>{{post.content}}</p>
    <button class="show-btn" [routerLink]="['/posts', post.id]">View Post</button>
    <button *ngIf="post.belongsToGroupId" class="show-btn" [routerLink]="['/groups', post.belongsToGroupId]">View Group</button>
    <button *ngIf="post.filename" (click)="downloadContent(post.filename)" class="show-btn">Download Post Content</button>
</div>
