<nav>
    <ul class="navbar">   
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/users/change-password']">Change Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/groups']">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts/add']">Create Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/groups/add']">Create Group</a>
        </li>
    </ul>
</nav>