ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #369;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
  }

.nav-item {
    display: inline;
}

.nav-link {
    color: lightgray;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
