<div>
    <h1>{{user.username}}</h1>
    <br>
    <p class="bigText">{{post.content}}</p>
    <br>
    <h6>{{post.creationDate | date: 'MMMM d, y, HH:mm'}}</h6>
    <br>
    <div class="image-container">
        <div class="image-item" *ngFor="let image of images">
          <img [src]="image.path" [alt]="'Image ' + image.id">
        </div>
    </div>
    <br><br>
    <button *ngIf="hasAuthority()" class="show-btn" [routerLink]="['/posts/edit', post.id]">Edit Post</button>
    <button *ngIf="hasAuthority()" class="show-btn" (click)="deletePost()">Delete Post</button>
    <br><br>
    <div class="card rounded" *ngFor="let comment of comments">
      <p class="bigText">{{comment.text}}</p>
      <h3>{{comment.timestamp | date: 'MMMM d, y, HH:mm'}}</h3>
      <p class="blue-bold" *ngIf="users.get(comment.belongsToUserId)">{{users.get(comment.belongsToUserId).username}}</p>
      <button *ngIf="canDeleteComment()" class="show-btn" (click)="deleteComment(comment.id)">Delete Comment</button>
    </div>
</div>