<div>
    <h1>{{post.title}}</h1>
    <h2>{{user.displayName || user.username}}</h2>
    <br>
    <p class="bigText">{{post.content}}</p>
    <br>
    <h6>{{post.creationDate | date: 'MMMM d, y, HH:mm'}}</h6>
    <br>
    <div class="image-container">
        <div class="image-item" *ngFor="let image of images">
          <img [src]="image.path" [alt]="'Image ' + image.id">
        </div>
    </div>
    <br><br>
    <button class="show-btn" (click)="addComment()">Add Comment</button>
    <button *ngIf="hasAuthority()" class="show-btn" [routerLink]="['/posts/edit', post.id]">Edit Post</button>
    <button *ngIf="hasAuthority()" class="show-btn" (click)="deletePost()">Delete Post</button>
    <br><br>
    <span>Likes: {{likes}} <b>|</b> Hearts: {{hearts}} <b>|</b> Dislikes: {{dislikes}}</span>
    <br>
    <button class="show-btn" (click)="reactedPost(post.id, 'LIKE')"><img src="../../assets/icons/like.png" alt="Like"></button>
    <button class="show-btn" (click)="reactedPost(post.id, 'HEART')"><img src="../../assets/icons/heart.png" alt="Heart"></button>
    <button class="show-btn" (click)="reactedPost(post.id, 'DISLIKE')"><img src="../../assets/icons/dislike.png" alt="Dislike"></button>
    <br><br>

    <div id="comment{{comment.id}}" class="card rounded" *ngFor="let comment of comments">
      <p class="bigText">{{comment.text}}</p>
      <h3>{{comment.timestamp | date: 'MMMM d, y'}}</h3>
      <p class="blue-bold" *ngIf="users.get(comment.belongsToUserId)">{{users.get(comment.belongsToUserId).displayName || users.get(comment.belongsToUserId).username}}</p>
      <button *ngIf="canReply(comment.id)" class="show-btn" (click)="reply(comment.id)">Reply</button>
      <button *ngIf="canDeleteComment(comment.id)" class="show-btn" (click)="deleteComment(comment.id)">Delete Comment</button>
      <br><br>
      <span>
        Likes: {{getReactionCount(comment.id, 'LIKE')}} <b>|</b> 
        Hearts: {{getReactionCount(comment.id, 'HEART')}} <b>|</b> 
        Dislikes: {{getReactionCount(comment.id, 'DISLIKE')}}
      </span>
      <br>
      <button class="show-btn" (click)="reactedComment(comment.id, 'LIKE')"><img src="../../assets/icons/like.png" alt="Like"></button>
      <button class="show-btn" (click)="reactedComment(comment.id, 'HEART')"><img src="../../assets/icons/heart.png" alt="Heart"></button>
      <button class="show-btn" (click)="reactedComment(comment.id, 'DISLIKE')"><img src="../../assets/icons/dislike.png" alt="Dislike"></button>
      <br>

      <div *ngFor="let reply of replies">
        <div *ngIf="reply.repliesToCommentId == comment.id" class="card rounded indented">
          <p class="bigText">{{reply.text}}</p>
        <h3>{{reply.timestamp | date: 'MMMM d, y'}}</h3>
        <p class="blue-bold" *ngIf="users.get(reply.belongsToUserId)">{{users.get(reply.belongsToUserId).displayName|| users.get(reply.belongsToUserId).username}}</p>
        <button *ngIf="canDeleteReply()" class="show-btn" (click)="deleteComment(reply.id)">Delete Reply</button>
        <br><br>
        <span>
          Likes: {{getReactionCount(reply.id, 'LIKE')}} <b>|</b> 
          Hearts: {{getReactionCount(reply.id, 'HEART')}} <b>|</b> 
          Dislikes: {{getReactionCount(reply.id, 'DISLIKE')}}
        </span>
        <br>
        <button class="show-btn" (click)="reactedComment(reply.id, 'LIKE')"><img src="../../assets/icons/like.png" alt="Like" (click)="reactedComment(comment.id, 'LIKE')"></button>
        <button class="show-btn" (click)="reactedComment(reply.id, 'HEART')"><img src="../../assets/icons/heart.png" alt="Heart" (click)="reactedComment(comment.id, 'HEART')"></button>
        <button class="show-btn" (click)="reactedComment(reply.id, 'DISLIKE')"><img src="../../assets/icons/dislike.png" alt="Dislike"></button>
        </div>
      </div>

    </div>
</div>