<div class="postForm">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <label for="content"><b>Content:</b></label>
          <div>
            <textarea id="content" name="content" [formControl]="form.controls['content']"></textarea>
            <small class="text-danger"  *ngIf="form.controls.content.touched && form.controls.content.errors?.required">
              This field can't be empty!</small>
          </div>
        </div>

        <div>
            <button *ngIf="!editing" type="submit" class="btn btn-primary" [disabled]="!form.valid">Add Post</button>
            <button *ngIf="editing" type="submit" class="btn btn-primary" [disabled]="!form.valid">Save</button>
        </div>
    </form>
</div>
