<div class="passwordForm">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div>
          <label for="oldPassword"><b>Current Password:</b></label>
          <div>
            <input type="password" id="oldPassword" name="oldPassword" [formControl]="form.controls.oldPassword">
            <small class="text-danger"  *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.errors?.required">
              This field can't be empty!</small>
          </div>
        </div>

        <div>
            <label for="newPassword1"><b>New Password:</b></label>
            <div>
              <input type="password" id="newPassword1" name="newPassword1" [formControl]="form.controls.newPassword1">
              <small class="text-danger"  *ngIf="form.controls.newPassword1.touched && form.controls.newPassword1.errors?.required">
                This field can't be empty!</small>
            </div>
        </div>

          <div>
            <label for="newPassword2"><b>Repeat New Password:</b></label>
            <div>
              <input type="password" id="newPassword2" name="newPassword2" [formControl]="form.controls.newPassword2">
              <small class="text-danger"  *ngIf="form.controls.newPassword2.touched && form.controls.newPassword2.errors?.required">
                This field can't be empty!</small>
            </div>
        </div>
  
        <div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Change Password</button>
        </div>
    </form>

</div>
